@charset "UTF-8";

body{
	background-image:url(img/paper.jpg);
	font-family:"Roboto Slab" , Garamond , "Times New Roman" , "游明朝" , "Yu Mincho" , "游明朝体" , "YuMincho" , "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" , "HiraMinProN-W3" , "HGS明朝E" , "ＭＳ Ｐ明朝" , "MS PMincho" , serif;
}

p{
	color: #4D4D4D;
	font-size: 86%;
}

.wrapper{
	overflow: hidden;
	background-image: url(img/rightimg.png);
	background-repeat: repeat-y; 
	background-position: right; 
}

.main{
	width: 100%;
}

.blank{
	padding: 200px 0 ;
}

.photoContent{
	width: 500px;
	margin: 0 auto;
}

.photoContent img{
	margin: 10px;
}

.textContent{
	width: 390px;
	margin: 0 auto;
}

.textTitle{
	float: right;
}

.textBox{
	width: 328px;
	border-right: 1px solid #4d4d4d;
	float: left;
}

.fukusuke{
	margin-top: 120px;
}

.menu{
	position: fixed;
    height: 100%;
    width: 184px;
    float: left;
    background-color: #F7F7F5;
	margin: -10px;
}

.menu img{
	margin: 10px 0 0 40px;
	cursor: pointer;
}

